html
  head
    title Commander.js - nodejs cli framework
    link(rel='stylesheet', href='style.css')
  body
    #content
      h1 Commander.js
      p.
        Commander is a light-weight, expressive, and powerful command-line
        framework for <a href="http://nodejs.org">node.js</a>.
      for comment in comments
        if comment.ignore || !comment.ctx || 'version' == comment.ctx.name
          - continue
        .comment
          if ~comment.ctx.string.indexOf('prototype')
            h2= comment.ctx.string.replace('.prototype.', '#')
          else
            h2= comment.ctx.string
          .description!= comment.description.full
          pre
            code!= comment.code